
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #9fd3c7;
  color: #222;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 16px;
}

.card {
  background-color:  #f0ece2; 
  padding: 24px;
  border-radius: 20px;
  text-align: center;
}

.profile-pic {
  width: 250px;
  height: auto;
  border-radius: 10px;
}
